body {
    background-color: rgb(3, 0, 38);
    background-image: radial-gradient(#42426b, rgb(3, 0, 38) 60% );
    background-repeat: no-repeat;
    background-size: 100% 115%;


  }
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(3, 0, 38);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  
    color: white;
    border: 5px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    animation-name: border-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
}

@keyframes border-animation {
  50%  {border-color:white;  }
  50%  {border-color:#2a53ab;}
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
}
.p-dark {
    text-align: center;
    color:white
}
img {
    fill: white;
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

.hobbies {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.social-img {
    display:inline;
    height: 40px;
}

.section-1 {
    padding-top: 5px;
}

.section-2 {
    padding-bottom: 30px;
    padding-top: 5px;
}

.section-3 {
    color: white;
  text-align: center;
  vertical-align: bottom;
}

.social-grid-container{
  
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top:10px
}

.section-4{
    color: white;
    text-align: center;
    
}